# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Yarn 4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build directory
/public
.DS_Store

.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
